Repository Hopsan/hopsan, pull requests merged in 2020-05, with the labels that each got.

#1936 Make all text editor tabs appear last in tab widget
  HopsanGUI/ModelHandler.cpp
Labels: GUI

#1932 Use standard Modelica attributes for input and output variables
  HopsanGenerator/src/generators/HopsanGeneratorBase.cpp
  HopsanGenerator/src/generators/HopsanModelicaGenerator.cpp
Labels: Import/Export

#1933 Abort optimization while evaluating initial candidates
  HopsanGUI/OptimizationHandler.cpp
  Ops/include/OpsWorker.h
  Ops/src/OpsEvaluator.cpp
  Ops/src/OpsWorker.cpp
Labels: Optimization

#1934 Reset lock axis setting when changing units or X-axis variable
  HopsanGUI/PlotArea.cpp
  HopsanGUI/PlotCurve.cpp
  HopsanGUI/PlotCurve.h
Labels: GUI:Plotting

#1945 Fix bug that would incorrectly add self. to constant parameter values
  HopsanCore/src/CoreUtilities/HmfLoader.cpp
Labels: bug

#1949 Apply icon scale when adding subsystem components
  HopsanGUI/GUIObjects/GUIContainerObject.cpp
Labels: GUI
